@model IEnumerable<Case>


<div class="container-fluid" style="padding-top: 140px; padding-bottom: 360px; background-color:cadetblue;color: #ffffff;">
    <h1 class="text-center">Dental prescriptions details</h1>

    <p class="text-center" style="padding-top: 40px;">
        <a asp-controller="Case" asp-action="Create">Create New Case</a>
    </p>

    <div style="padding-top: 40px;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dentist)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Patient)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tooth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RestorationType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Shade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsImplant)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comment)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dentist)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tooth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RestorationType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Shade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsImplant)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td>
                            @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Update", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>